*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--textColor);
}

html,body{
  background-color: var(--background-color-light);
  overflow-x: hidden;
}


@font-face{
  font-family:'PixelOperator';
  src: url('./fonts/PixelOperatorMono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PressStart2P';
  src: url('./fonts/PressStart2P.ttf') format('truetype'); 
  font-weight: normal;
  font-style: bold;
}

@font-face {
  font-family: 'Raleway-Regular';
  src: url('./fonts/Raleway-Regular.ttf') format('truetype'); 
  font-weight: normal;
  font-style: bold;
}

@font-face {
  font-family: 'DepartureMono';
  src: url('./fonts/DepartureMono-Regular.otf') format('truetype'); 
  font-weight: normal;
  font-style: bold;
}


:root{
  --header-color-dark:black;
  --background-color-light: #ffeea3;
  --background-color-dark:#ccbe82;
  --background-color-darker:#fce060;
  --linkColor: #2563EB;
  --lightgray:lightslategrey;
  --textColor:#0E100D;
  --lightDark:#2E2E2E;
  --background-color-lighter:#fff5c9;
}

.header{
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  padding: 20px;
  height: 70px;
  background-color: var(--header-color-dark);
  color: var(--lightgray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}


.header h2{
  color:whitesmoke;
  background: inherit;
  font-family: 'PressStart2P',monospace;
  cursor: pointer;
  transition: .4s ease-out;
  font-size: 20px;
}

.header h2:hover{
  color: lightgray;
}

.nav-sections{
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.nav-sections label{
  font-family: 'PressStart2P',monospace;
  font-size: 14px;
  font-weight: 500;
  color:whitesmoke;
  cursor: pointer;
  transition: .4s ease;
}

.nav-sections label:hover{
  color:lightslategrey;
  transform: translateY(-2px);
}




.skills{
  background-color: var(--background-color-darker);
  width: 100%;
  height: 150px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  margin-bottom: 35px;
}

.skillImage{
  width: 55px;
  height: 55px;
  cursor: pointer;
  transition: .4s ease-out;
}

.skillImage:hover{
  transform: translateY(4px);
}

.projects{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  padding: 15px;
}

.project-box{
  height: 350px;
  padding: 15px;
  width: 40%;
  transition: .5s ease;
  border-radius: 5px;
  background-color: inherit;
  display: flex; 
  justify-content: space-between;
  flex-direction: column;
  border: 2px solid #2E2E2E;
  box-shadow: 2px 2px 0px 2px #0E100D;
  cursor: pointer;
  overflow-y: auto;
  transition: .5s ease-out;
}

.description{
  font-family: 'Ra',monospace;
  font-size: 20px;
  font-weight: 600;
  color: #2E2E2E;
  text-align: center;
}

.project-box:hover{
  transform: translateY(-2px);
  background-color: #2E2E2E;
}

.header-project{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header-project i{
  font-size: 25px;
}

#link{
  font-size: 35px;
  transition: .4s ease-out;
}

#link:hover{
  color: var(--background-color-darker);
}



.footer-project{
  display: flex;
  justify-content: space-between;
}

.stack{
  font-size: 18px;
  font-family: 'DepartureMono';
}

.project-box:hover h4,
.project-box:hover i,
.project-box:hover .description,
.project-box:hover .stack{
  color:whitesmoke;
}

.project-box h4{
  font-family: 'DepartureMono';
  font-size: 22px;
  color: #2E2E2E;
}



.text-column{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 25px;
  margin-bottom: 35px;
}

.name-highl{
  font-family: 'Raleway-Regular';
  font-size: 35px;
  font-weight: bolder;
  letter-spacing: 2px;
  word-spacing: 1px;
}

.developments{
  font-family: 'Raleway-Regular';
  font-size: 35px;
  font-weight: bolder;
  letter-spacing: 2px;
  word-spacing: 1px;
} 

.text-column p{
  color: #2E2E2E;
  font-size: 35px;
  font-family: 'Raleway-Regular';
}



.contact{
  width: 100%;
}

.socials{
  background-color: var(--background-color-darker);
  width: 100%;
  height: 100px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.social{
  border:2px solid var(--lightDark);
  border-radius: 50%;
  display: flex; 
  align-items: center;
  width: 60px;
  height: 60px;
  justify-content: center;
  transition: .5s ease-out;
}

.social:hover{
  transform: translateY(-6px);
  box-shadow: 2px 4px 15px 5px var(--background-color-lighter);
}



.social i{
  font-size: 33px;
}


.contact-paragraph{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  margin-top: 35px;
}

.cv-column{
  display: flex;
  justify-content: center;
  width: 45%;
  margin-bottom: 25px;
}




.contact-paragraph i{
  font-size: 25px;
  color: lightslategrey;
  transition: 1s ease-out;
}

.contact-paragraph i:hover{
  transform: rotate(360deg);
  cursor: pointer;
}

.about-columns{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 40px;
}

.paragraph{
  font-family: 'Raleway-Regular', monospace;
  color:gray;
  font-weight: 300;
  font-size: 19px;
}

.form-div{
  height: 400px;
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 10px;
}

.name-email{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}


.center{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

#formInput{
  outline: none;
  background: inherit;
  border: 2px solid var(--lightDark);
  border-radius: 4px;
  padding: 15px;
  width: 50%;
  font-size: 19px;
  box-shadow: 2px 3px 0px 2px #2E2E2E;
  color: lightslategray;
  font-family: 'Raleway-Regular',monospace;
}

#formInput:focus{
  color: #2E2E2E;
}

#inputContent{
  outline:none;
  background: inherit;
  background-color: inherit;
  border-radius: 4px;
  resize: none;
  border: 2px solid var(--lightDark);
  padding: 15px;
  box-shadow: 2px 3px 0px 2px #2E2E2E;
  color: lightslategray;
  font-family: 'Raleway-Regular',monospace;
  font-size: 18px ;
}

#inputContent:focus{
  color:#2E2E2E;
}

.button-div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.sendBtn{
  width: 50%;
  padding: 15px;
  font-family: 'DepartureMono';
  color: #0E100D;
  font-size: 23px;
  font-weight: bolder;
  outline: none;
  background-color: var(--background-color-darker);
  cursor: pointer;
  box-shadow: 2px 3px 0px 2px #2E2E2E;
  transition: .4s ease-out;
}

.sendBtn:hover{
  color: darkred;
}


.cvBtn{
  width: 70%;
  padding: 20px;
  font-family: 'DepartureMono';
  color: #0E100D;
  font-size: 24px;
  font-weight: bolder;
  outline: none;
  background-color: var(--background-color-darker);
  cursor: pointer;
  box-shadow: 2px 3px 0px 2px #2E2E2E;
}

.cvBtn i{
  font-size: 23px;
}

.cvBtn:hover,
.cvBtn:hover i{
  color: darkred;
}

.footer-class{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: 25px;
}

.footer-class h2{
  font-family: 'DepartureMono',monospace;
  font-size: 21px;
  color: gray;
  margin-bottom: 10px;
}

.footer-class h2 span{
  font-weight: bolder;
  font-size: 20px;
  font-family: 'DepartureMono';
  color: var(--lightDark);
}

.footer-class h4{
  font-size: 15px;
  font-family: 'DepartureMono', monospace;
  color: gray;
}

#portfolioLink{
  text-decoration: none;
  font-size: 16px;
  color: var(--linkColor);
}


@media only screen and (max-width:700px) {
  
  .header{
    display: none;
  }

  .skills{
    height: 120px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
  }
  
  .skillImage{
    width: 30px;
    height: 30px;
  }

  .projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
  
  .project-box{
    width: 100%;
    background-color: #2E2E2E;
    border: none;
  }
  
  .description{
    font-size: 18px;
    font-weight: 500;
    color: whitesmoke;
  }
  
  .project-box:hover{
    transform: none;
  }
  
  .header-project{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .header-project i{
    color: whitesmoke;
  }
  
  #link{
    font-size: 30px;
    transition: none;
    color: whitesmoke;
  }

  #link:hover{
    color: whitesmoke;
  }
  
  
  .stack{
    font-size: 20px;
    color:whitesmoke;
  }
  
  .project-box h4{
    font-size: 20px;
    color: whitesmoke;
  }

  .contact-paragraph{
    flex-direction: column;
    gap: 15px;
    margin: 5px;
  }

  .paragraph{
    text-align: center;
    font-weight: 400;
    font-size: 15px;
  }

  .form-div{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
  }

  #formInput{
    padding: 10px;
    width: 100%;
    font-size: 15px;
  }

  .name-email{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-bottom: 0px;

  }

  #inputContent{
    width: 100%;
    font-size: 15px;
  }
  

  .sendBtn{
    width: 95%;
    padding: 15px;
    font-size: 22px;
  }

  .socials{
    padding: 5px;
    gap: 15px;
  }
  
  .social{
    width: 50px;
    height: 50px;
  }
  
  .social:hover{
    transform: none;
    box-shadow: none;
  }

  .social i{
    font-size: 25px;
  }

  .cv-column{
    width: 100%;
  }

  .text-column{
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  
  .name-highl{
    font-size: 35px;
    font-weight: bolder;
    letter-spacing: 0px;
  }
  
  .developments{
    font-size: 35px;
    letter-spacing: 0px;
  } 
  
  .text-column p{
    font-size: 32px;
  }
  
}